<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentSys">
            <h2><span jhiTranslate="coopcycleJhipsterApp.paymentSys.detail.title">Payment Sys</span> {{ paymentSys.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleJhipsterApp.paymentSys.crediteur">Crediteur</span></dt>
                <dd>
                    <span>{{ paymentSys.crediteur }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleJhipsterApp.paymentSys.debiteur">Debiteur</span></dt>
                <dd>
                    <span>{{ paymentSys.debiteur }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleJhipsterApp.paymentSys.method">Method</span></dt>
                <dd>
                    <span>{{ paymentSys.method }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleJhipsterApp.paymentSys.acount">Acount</span></dt>
                <dd>
                    <span *ngFor="let acount of paymentSys.acounts; let last = last">
                        <a [routerLink]="['/acount', acount?.id, 'view']">{{ acount.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-sys', paymentSys.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
