<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-run-heading" jhiTranslate="coopcycleJhipsterApp.run.home.createOrEditLabel">Create or edit a Run</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleJhipsterApp.run.clientName" for="field_clientName">Client Name</label>
                    <input type="text" class="form-control" name="clientName" id="field_clientName"
                           formControlName="clientName"/>
                    <div *ngIf="editForm.get('clientName')!.invalid && (editForm.get('clientName')!.dirty || editForm.get('clientName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleJhipsterApp.run.runnerName" for="field_runnerName">Runner Name</label>
                    <input type="text" class="form-control" name="runnerName" id="field_runnerName"
                           formControlName="runnerName"/>
                    <div *ngIf="editForm.get('runnerName')!.invalid && (editForm.get('runnerName')!.dirty || editForm.get('runnerName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('runnerName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleJhipsterApp.run.method" for="field_method">Method</label>
                    <input type="text" class="form-control" name="method" id="field_method"
                           formControlName="method"/>
                    <div *ngIf="editForm.get('method')!.invalid && (editForm.get('method')!.dirty || editForm.get('method')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('method')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleJhipsterApp.run.basket" for="field_basket">Basket</label>
                    <select class="form-control" id="field_basket" name="basket" formControlName="basket">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="basketOption.id === editForm.get('basket')!.value?.id ? editForm.get('basket')!.value : basketOption" *ngFor="let basketOption of baskets; trackBy: trackById">{{ basketOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleJhipsterApp.run.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" formControlName="restaurant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id === editForm.get('restaurant')!.value?.id ? editForm.get('restaurant')!.value : restaurantOption" *ngFor="let restaurantOption of restaurants; trackBy: trackById">{{ restaurantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
